//Fonts
$font:              "adelle-sans", Helvetica, Arial, sans-serif;
$header-font:       "adelle", serif, Arial, sans-serif;

//Font weights
$black:             900;
$bold:              600;
$normal:            400;

// Colors (all from site)
$black:             #232323;
$dark-grey:         #333333;
$grey:              #888888;
$border-grey:       #B2B2B2;
$mid-grey:          #CCCCCC;
$mid-light-grey:    #EEEEEE;
$light-grey:        #F5F5F5;
$white:             #FFFFFF;

$light-blue:        #98C6E4;
$link-blue:         #4ba0e1; //new 
$blue:              #418FBF;
$dark-blue:         #125075;
$midnight-blue:     #083048;
$black-blue:        #031F36; //new

$light-red:         #EC4550;
$mid-red:           #E72837;
$red:               #C52228;

$light-yellow:      #FDC56E;
$yellow:            #FBB242;
$dark-yellow:       #EEA440;

$light-green:       #8DCB8C;
$mid-green:         #6FC06F;
$green:             #55AB55;
$dark-green:        #448245;

$yellowish-green:   #8EB73E;
