<div class="container">
  <div class="row">
    <h2 class="text-center black">Branding</h2>
  </div>
  <div class="row jutwrap3">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="island raised">
        <img src="web/img/brand/imh_logo.svg" alt="Main Logo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island raised"><img src="web/img/brand/imh_black_logo.svg" alt=""></div>
    </div>
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island darkened"><img src="web/img/brand/imh_logo_white.svg" alt=""></div>
    </div>
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island darkened"><img src="web/img/brand/imh_logo_all_white.svg" alt=""></div>
    </div>
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island raised"><img src="web/img/brand/imh_swoosh.svg" alt=""></div>
    </div>
  </div>
</div>