<div class="container">
  <div class="row jutwrap4">
    <h2 class="text-center black" data-sg data-name="h2_item_1">Branding</h2>
  </div>
  <div class="row first_row">
    <div class="logo col-md-4 col-sm-12">
      <div class="island raised">
        <img src="web/img/brand/imh_logo.svg" alt="Main Logo">
      </div>
    </div>
    <div class="logo col-md-2 col-sm-3 col-xs-6">
      <div class="island raised">
        <img src="web/img/brand/squarelogo-a.gif" alt="Main Logo">
      </div>
    </div>
    <div class="logo col-md-2 col-sm-3 col-xs-6">
      <div class="island raised">
        <img src="web/img/brand/squarelogo-b.gif" alt="Main Logo">
      </div>
    </div>
    <div class="logo col-md-2 col-sm-3 col-xs-6">
      <div class="island raised">
        <img src="web/img/brand/squarelogo-c.gif" alt="Main Logo">
      </div>
    </div>
    <div class="logo col-md-2 col-sm-3 col-xs-6">
      <div class="island raised">
        <img src="web/img/brand/squarelogo-d.gif" alt="Main Logo">
      </div>
    </div>
  </div>
  <div class="row last_row">
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island raised"><img src="web/img/brand/imh_black_logo.svg" alt=""></div>
    </div>
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island darkened"><img src="web/img/brand/imh_logo_white.svg" alt=""></div>
    </div>
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island darkened"><img src="web/img/brand/imh_logo_all_white.svg" alt=""></div>
    </div>
    <div class="col-sm-3 col-xs-6 logo">
      <div class="island raised"><img src="web/img/brand/imh_swoosh.svg" alt=""></div>
    </div>
  </div>
  <div class="row jutwrap3">
    <div class="col-md-12">
      <h2 class="text-center" data-sg data-name="h2_item_2">Icons</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center site-icons">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-palette.png" alt="icon-palette">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-linegraph.png" alt="icon-linegraph">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-number1.png" alt="icon-number1">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-switches.png" alt="icon-switches">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-mapmarker.png" alt="icon-mapmarker">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-heart.png" alt="icon-heart">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-amp-login.png" alt="icon-amp-login">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-chat.gif" alt="icon-chat">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-ssd-red.png" alt="icon-ssd-red">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-ftp.png" alt="icon-ftp">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-ekg.png" alt="icon-ekg">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-mail.png" alt="icon-mail">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-guarantee-active.gif" alt="icon-guarantee-active">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-puzzle.png" alt="icon-puzzle">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-lock.png" alt="icon-lock">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-5.png" alt="icon-5">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-clock.png" alt="icon-clock">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-flag.png" alt="icon-flag">
      <img class="media-object" src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-word-bubble.png" alt="icon-word-bubble">
    </div>
  </div>
  <div class="row jutwrap3">
    <div class="col-md-12">
      <h2 class="text-center" data-sg data-name="h2_item_2">Product Icons</h2>
    </div>
  </div>
  <div class="row product-icons">
    <div class="col-sm-3 col-xs-6 text-center"><img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-business-hosting.svg" alt="Business Hosting"></div>
    <div class="col-sm-3 col-xs-6 text-center"><img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-vps-hosting.svg" alt="VPS Hosting"></div>
    <div class="col-sm-3 col-xs-6 text-center"><img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-dedicated-servers.svg" alt="Dedicated Servers"></div>
    <div class="col-sm-3 col-xs-6 text-center"><img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-reseller-hosting.svg" alt="Reseller Hosting"></div>
  </div>
</div>
<a data-show="code-branding">code</a>