<div class="container">
  <div class="row jutwrap4">
    <h2 class="text-center">Buttons</h2>
  </div>
  <div class="row text-center">
    <div class="col-sm-3">
      <div><a href="#" class="btn btn-primary">Primary Button</a></div>
      <div><a href="#" class="btn btn-large btn-primary">Primary Large</a></div>
      <div><a href="#" class="btn btn-mini btn-primary">Primary Mini</a></div>
    </div>
    <div class="col-sm-3">
      <div><a href="#" class="btn btn-white">White Button</a></div>
      <div><a href="#" class="btn btn-large btn-white">White Large</a></div>
      <div><a href="#" class="btn btn-mini btn-white">White Mini</a></div>
    </div>
    <div class="col-sm-3">
      <div><a href="#" class="btn btn-white-blue">White 2 Button</a></div>
      <div><a href="#" class="btn btn-large btn-white-blue">White 2 Large</a></div>
      <div><a href="#" class="btn btn-mini btn-white-blue">White 2 Mini</a></div>
    </div>
    <div class="col-sm-3">
      <div><a href="#" class="btn btn-red">Red Button</a></div>
      <div><a href="#" class="btn btn-large btn-red">Red Large</a></div>
      <div><a href="#" class="btn btn-mini btn-red">Red Mini</a></div>
    </div>
  </div>
</div>