<div class="container">
  <div class="row jutwrap4">
    <h2 class="text-center" data-sg data-name="h2_item_2">Buttons</h2>
  </div>
  <div class="row text-center">
    <div class="col-sm-3">
      <div><a href="#" onclick="return false;" class="btn btn-primary" data-sg data-name="button_primary_1">Primary Button</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-large btn-primary" data-sg data-name="button_primary_2">Primary Large</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-mini btn-primary" data-sg data-name="button_primary_3">Primary Mini</a></div>
    </div>
    <div class="col-sm-3">
      <div><a href="#" onclick="return false;" class="btn btn-white" data-sg data-name="button_white_1">White Button</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-large btn-white" data-sg data-name="button_white_2">White Large</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-mini btn-white" data-sg data-name="button_white_3">White Mini</a></div>
    </div>
    <div class="col-sm-3">
      <div><a href="#" onclick="return false;" class="btn btn-white-blue" data-sg data-name="button_white_4">White 2 Button</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-large btn-white-blue" data-sg data-name="button_white_5">White 2 Large</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-mini btn-white-blue" data-sg data-name="button_white_6">White 2 Mini</a></div>
    </div>
    <div class="col-sm-3">
      <div><a href="#" onclick="return false;" class="btn btn-red" data-sg data-name="button_red_1">Red Button</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-large btn-red" data-sg data-name="button_red_2">Red Large</a></div>
      <div><a href="#" onclick="return false;" class="btn btn-mini btn-red" data-sg data-name="button_red_3">Red Mini</a></div>
    </div>
  </div>
</div>