<div class="container">
  <div class="row">
    <h2 class="text-center" data-sg data-name="h2_item_2">Colors</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 data-sg data-name="h3_item">Grey</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey1" data-sg data-name="grey_2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey2" data-sg data-name="grey_3"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey3" data-sg data-name="grey_4"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey4" data-sg data-name="grey_5"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey5" data-sg data-name="grey_6"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey6" data-sg data-name="grey_7"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey7" data-sg data-name="grey_8"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey8" data-sg data-name="grey_9"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 data-sg data-name="h3_item">Blue</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue1" data-sg data-name="blue_1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue2" data-sg data-name="blue_2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue3" data-sg data-name="blue_3"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue4" data-sg data-name="blue_5"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue5" data-sg data-name="blue_6"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue6" data-sg data-name="blue_7"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 data-sg data-name="h3_item">Green</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="green1" data-sg data-name="green_1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="green2" data-sg data-name="green_2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="green3" data-sg data-name="green_3"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="green4" data-sg data-name="green_4"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 data-sg data-name="h3_item">Red</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="red1" data-sg data-name="red_1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="red2" data-sg data-name="red_2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="red3" data-sg data-name="red_3"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 data-sg data-name="h3_item">Yellow</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="yellow1" data-sg data-name="yellow_1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="yellow2" data-sg data-name="yellow_2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="yellow3" data-sg data-name="yellow_3"></span></div>
  </div>
</div>