<div class="container">
  <div class="row">
    <h2 class="text-center">Colors</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Grey</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey3"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey4"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey5"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey6"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey7"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="grey8"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Blue</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue3"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue4"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue5"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="blue6"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Green</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="green1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="green2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="green3"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="green4"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Red</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="red1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="red2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="red3"></span></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Yellow</h3>
    </div>
    <div class="col-md-3 col-sm-4 colors"><span class="yellow1"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="yellow2"></span></div>
    <div class="col-md-3 col-sm-4 colors"><span class="yellow3"></span></div>
  </div>
</div>