<div class="container">
  <div class="row jutwrap4">
    <h2 class="text-center">Compads</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="competitive_advantages hidden-xs">
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="Solid state drives offer faster read/write speeds, and improved uptime over traditional hard disk drives. This means fast delivery of your content from your blog, online store, static website, or custom-built application.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-ssd-tb.png" alt="solid state drive">
          <h4>FREE SSD Drives</h4><p>Included with All Hosting Plans</p>
        </li>
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="Every Business Hosting purchase comes with a free domain name. If you don't want to purchase one during checkout you'll get a free domain credit to use at a later time.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-free-domain.png" alt="free domain name">
          <h4>FREE Domain!</h4><p>New Or Existing Transfer</p>
        </li>
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="We lead the industry with our 90-Day Full Money Back Guarantee. Buy with confidence knowing that we fully guarantee your satisfaction.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-guarantee.png" alt="money back guarantee">
          <h4>90-Day Guarantee</h4><p>Truly Industry Leading</p>
        </li>
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="InMotion will keep a backup of your data to help protect you from data loss. Most hosts charge extra for this service – we provide it free with every Business Hosting purchase!">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-data-backups.png" alt="free data backups">
          <h4>FREE Data Backups</h4><p>Others Charge, We Don't!</p>
        </li>
        <li class="comp_adv_trigger last" data-toggle="tooltip" data-title="We know how big of a pain it can be to manually install software, which is why we offer more free applications than competitors. Choose from over 310 applications.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-auto-installs.png" alt="one-click installs">
          <h4>FREE 1-Click Installer</h4><p>Install Over 310 Applications</p>
        </li>
      </ul>
      <ul class="competitive_advantages separator hidden-xs">
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="With more programming languages supported by our shared servers, you can develop in the language you know best – build the website you want.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-more-languages.png" alt="code in more languages">
          <h4>Code in More Languages</h4><p>PostgreSQL, MySQL, Ruby, PHP</p>
        </li>
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="InMotion is one of the few hosts to offer secure email via IMAP so you can easily access your email from anywhere and stay synced across multiple devices.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-secure-email.png" alt="secure email">
          <h4>Secure IMAP Email</h4><p>Access Email from Any Device</p>
        </li>
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="We utilize multiple data centers, premium bandwidth providers, and advanced routing technology to ensure our network is faster than the competition – this means faster web sites, downloads, and email. Select from either our West or East coast data center locations.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-max-speed-zone.png" alt="super fast network">
          <h4>Max Speed Zone<sup>™</sup></h4><p>Choose Your Data Center</p>
        </li>
        <li class="comp_adv_trigger" data-toggle="tooltip" data-title="We provide our Business Hosting users with secure remote access via SSH so that you can use the command line for easier site administration.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-ssh.png" alt="SSH enabled">
          <h4>SSH Access</h4><p>Work Easier &amp; Faster</p>
        </li>
        <li class="comp_adv_trigger last" data-toggle="tooltip" data-title="We've setup Google Apps into cPanel for easy integration with your domain. Use our GUI wizard to get your Google Apps working in minutes.">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-google-apps.png" alt="Google apps integration">
          <h4>Google Apps Integration</h4><p>Easy to Use 3 Step Wizard</p>
        </li>
      </ul>

      <ul class="competitive_advantages visible-xs-block">
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-ssd-tb.png" alt="solid state drive">
          <h4>FREE SSD Drives</h4><p>Included with All Hosting Plans</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-free-domain.png" alt="free domain name">
          <h4>FREE Domain!</h4><p>New Or Existing Transfer</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-guarantee.png" alt="money back guarantee">
          <h4>90-Day Guarantee</h4><p>Truly Industry Leading</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-data-backups.png" alt="free data backups">
          <h4>FREE Data Backups</h4><p>Others Charge, We Don't!</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-auto-installs.png" alt="one-click installs">
          <h4>FREE 1-Click Installer</h4><p>Install Over 310 Applications</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-more-languages.png" alt="code in more languages">
          <h4>Code in More Languages</h4><p>PostgreSQL, MySQL, Ruby, PHP</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-secure-email.png" alt="secure email">
          <h4>Secure IMAP Email</h4><p>Access Email from Any Device</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/business/icon-max-speed-zone.png" alt="super fast network">
          <h4>Max Speed Zone<sup>™</sup></h4><p>Choose Your Data Center</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-ssh.png" alt="SSH enabled">
          <h4>SSH Access</h4><p>Work Easier &amp; Faster</p>
        </li>
        <li class="comp_adv_trigger">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/icon-google-apps.png" alt="Google apps integration">
          <h4>Google Apps Integration</h4><p>Easy to Use 3 Step Wizard</p>
        </li>
      </ul>
    </div>
  </div>
</div>