<div class="container">
  <div class="row jutwrap4">
    <h2 class="text-center">Rostrum</h2>
  </div>
  <div class="row rostrum">

    <div class="col-md-4 rostrum-tiered-item rostrum-tiered-item-second">
      <div class="island raised">
        <h3 class="package-title">
          <img src="//imh01-inmotionhosting1.netdna-ssl.com/img/package-icon-tier1.png" alt="Launch Business Package" class="tier-space">
          Launch
        </h3>
        <p class="package-subtitle muted">Shared Hosting for All Skill Levels</p>
        <div class="pricebox ">
          <sup>$</sup>5<sup>99</sup><sub>/mo.</sub>
        </div>
        <p class="centered"><strike>$7.99/month</strike>
          <span><strong>25% OFF!</strong></span>
        </p>
        <ul>
          <li>Disk Space: Unlimited</li>
          <li>Websites: 2</li>
          <li>Databases: 2</li>
        </ul>
        <div class="mid">
          <a href="#" class="btn btn-primary over">Order Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 rostrum-tiered-item rostrum-tiered-item-first">
      <div class="island raised">
        <div class="best-value"></div>
        <h3 class="package-title"><img src="//imh01-inmotionhosting1.netdna-ssl.com/img/package-icon-tier2.png" alt="Power Business Package" class="tier-space">
          Power
        </h3>
        <p class="package-subtitle">1<sup>st</sup> Choice for Small Business</p>
        <div class="pricebox ">
          <sup>$</sup>7<sup>99</sup><sub>/mo.</sub>
        </div>
        <p class="centered"><strike>$9.99/month</strike>
          <span><strong>20% OFF!</strong></span>
        </p>
        <ul>
          <li>Disk Space: Unlimited</li>
          <li>Websites: 6</li>
          <li>Databases: 50</li>
        </ul>
        <div class="dr-strip">DOUBLE RESOURCES ~ Only $2 More!</div>
        <div class="mid">
          <a href="#" class="btn btn-primary over">Order Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 rostrum-tiered-item rostrum-tiered-item-third">
      <div class="island raised">
        <div class="badge-unlimited"></div>
        <h3 class="package-title"><img src="//imh01-inmotionhosting1.netdna-ssl.com/img/package-icon-tier3.png" alt="Pro Business Package" class="tier-space">
          PRO
        </h3>
        <p class="package-subtitle muted">For Developers &amp; Growing Businesses</p>
        <div class="pricebox ">
          <sup>$</sup>13<sup>99</sup><sub>/mo.</sub>
        </div>
        <p class="centered"><strike>$15.99/month</strike>
          <span><strong>12% OFF!</strong></span>
        </p>
        <ul>
          <li>Disk Space: Unlimited</li>
          <li>Websites: Unlimited</li>
          <li>Databases: Unlimited</li>
        </ul>
        <div class="mid">
          <a href="#" class="btn btn-primary over">Order Now</a>
        </div>
      </div>
    </div>

  </div>
</div>