.competitive_advantages{
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  margin: 0;
  li.comp_adv_trigger{
    border-right: solid 1px $border-grey;
    float: left;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    width: 20%;
    &.last{
      border-right: 0;
    }
    @media (max-width: $screen-xs-max){
      width: 50%;
      border-right: 0;
      &:nth-child(odd){
        clear: left;
      }
    }
  }
  h4{
    color: $black;
    font-weight: $bold;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p{
    color: $grey;
    font-size: 12px;
  }
}