.table .ir {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background: transparent no-repeat 0 0;
  display: block;
  height: 18px;
  margin: 0 auto;
  width: 18px;
}
.ideal, .table .ideal {
  background-image: url(http://imh01-inmotionhosting1.netdna-ssl.com/img/ideal.png);
}
.unacceptable, .table .unacceptable {
  background-image: url(http://imh01-inmotionhosting1.netdna-ssl.com/img/unacceptable.png);
}

table.table{
  img{
    vertical-align: baseline;
  }
  .accents{
    margin: 0 8px 0 -8px;
  }

  $border : 1px solid $border-grey;

  tbody, thead, tfoot{
    > tr{
      > th, 
      > td{
        vertical-align: middle;
      }
      >th{
        border-left: $border;
      }
    }
  }
  thead{
    tr > th{
      border-top: $border !important;
      border-bottom: 0;
      text-align: center;
      &:nth-last-child(1){
        border-right: $border;
      }
    }
  }
  tbody{
    border-top: 1px solid $border-grey;
    tr{
      th{
        border-top: 0;
      }
      td{
        border-left: $border;
        border-top: 0;
        text-align: center;
        &:nth-last-child(1){
          border-right: $border;
        }
      }
      th, td{
        line-height: 22px;
      }
    }
    > tr:nth-of-type(odd){
      background: darken($mid-light-grey, 5%);
    }
  }
  tfoot{
    background: $white;
    border-bottom: 2px solid $grey;
    tr td{
      border-left: $border;
      text-align: center;
      &:nth-last-child(1){
        border-right: $border;
      }
    }
  }
  th{
    font-weight: $normal;
    .btn-link{
      margin-left: -8px;
    }
  }
  td{
    line-height: 22px;
  }

  /* specification table */
  &.specifications{
    margin-top: 30px;
    thead{
      td{
        background: transparent;
        width: 45%;
      }
      th{
        color: $black;
        background: $white;
        font-size: 19px;
        line-height: 39px;
      }
      .besttab{
        position: relative;
        .tabtop{
          border-radius: 5px 5px 0 0;
          position: absolute;
          width: 100%;
          line-height: 30px;
          font-weight: $normal;
          top: -30px;
          left: 0;
          white-space: nowrap;
          color: $white;
          background: $yellowish-green;
        }
      }
    }
    tbody{
      .btn-link{
        color: $black;
        &:hover,
        &:active,
        &:focus{
          color: $blue;
          text-decoration: none;
          outline: none;
        }
      }
    }
    tfoot{
      p.price-strike{
        margin-bottom: 0;
      }
      div{
        margin-bottom: 2px;
      }
      .price-discount{
        font-weight: $bold;
        color: $red;
        font-size: 18px;
      }
    }
    thead, tfoot, tbody{
      tr > td:nth-child(3),
      tr > th:nth-child(3){
        background: rgba(77,160,225,0.15);
      }
    }
  } /* end spec table */

  /* compare table */
  &.compare{
    thead{
      tr th{
        background: $white;
        color: $red;
        font-size: 16px;
      }
    }
  }
  /* end compare table */
}