section#colors{
  .colors{
    height: 40px;
    margin-bottom: 20px;
    span{
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  // Define colors
  .grey1{
    background: $light-grey;
  }
  .grey2{
    background: $mid-light-grey;
  }
  .grey3{
    background: $light-border-grey;
  }
  .grey4{
    background: $mid-grey;
  }
  .grey5{
    background: $border-grey;
  }
  .grey6{
    background: $grey;
  }
  .grey7{
    background: $dark-grey;
  }
  .grey8{
    background: $black;
  }

  .blue1{
    background: $light-blue;
  }
  .blue2{
    background: $link-blue;
  }
  .blue3{
    background: $blue;
  }
  .blue4{
    background: $dark-blue;
  }
  .blue5{
    background: $midnight-blue;
  }
  .blue6{
    background: $black-blue;
  }

  .green1{
    background: $light-green;
  }
  .green2{
    background: $mid-green;
  }
  .green3{
    background: $green;
  }
  .green4{
    background: $dark-green;
  }

  .red1{
    background: $light-red;
  }
  .red2{
    background: $mid-red;
  }
  .red3{
    background: $red;
  }

  .yellow1{
    background: $light-yellow;
  }
  .yellow2{
    background: $yellow;
  }
  .yellow3{
    background: $dark-yellow;
  }
}